@using Syncfusion.Blazor.Navigations
@using static BlazorServerApp.Pages.Counter
@inject NavMenuState AppState

<SfSidebar class="sidebar-treeview" Width="290px" DockSize="90px" EnableDock="false" MediaQuery="(min-width:600px)" Target=".main-content" Created="CreatedHandler">
    <ChildContent>
        <div class="main-menu">
            <div>
                <SfTreeView CssClass="main-treeview" TValue="TreeData">
                    <TreeViewFieldsSettings Id="NodeId" Text="NodeText" IconCss="IconCss" DataSource="Treedata">
                    </TreeViewFieldsSettings>
                </SfTreeView>
            </div>
        </div>
    </ChildContent>
</SfSidebar>

@code {
    public bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
        
    }

    public async Task CreatedHandler()
    {
        await AppState.NotifyStateChanged(true);
    }


    public class TreeData
    {
        public string NodeId { get; set; }
        public string NodeText { get; set; }
        public string IconCss { get; set; }
        public bool HasChild { get; set; }
        public string Pid { get; set; }
    }
    private List<TreeData> Treedata = new List<TreeData>();


    protected override void OnInitialized()
    {
        base.OnInitialized();

        Treedata.Add(new TreeData { NodeId = "01", NodeText = "Installation", IconCss = "icon-microchip icon" });
        Treedata.Add(new TreeData { NodeId = "02", NodeText = "Deployment", IconCss = "icon-thumbs-up-alt icon" });
        Treedata.Add(new TreeData { NodeId = "03", NodeText = "Quick Start", IconCss = "icon-docs icon" });
        Treedata.Add(new TreeData { NodeId = "04", NodeText = "Browser Compatibility", IconCss = "icon-chrome icon" });
        Treedata.Add(new TreeData { NodeId = "05", NodeText = "Upgrade Packages", IconCss = "icon-up-hand icon" });
        Treedata.Add(new TreeData { NodeId = "06", NodeText = "Release Notes", IconCss = "icon-bookmark-empty icon" });
        Treedata.Add(new TreeData { NodeId = "07", NodeText = "FAQ", IconCss = "icon-help-circled icon" });
        Treedata.Add(new TreeData { NodeId = "08", NodeText = "License", IconCss = "icon-doc-text icon" });
    }
}
